.navbar{
 
    background-color:var( --yellow-theme-nav-bacground-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
  }
  .navbar__contaniar{
      display: flex;
      align-items: center;
      width: 100%;
      height: inherit;
      padding: 0px 20px;
      flex: 1;
    }
    
    .portfollio{
        color: var( --yellow-theme-main-color);
        text-decoration: none;
      cursor: pointer;
      font-size:25px;
      list-style: none;
    
  }
  
  .navbar__contaniar-menu{
      display: flex;
      list-style: none;
      border: none;
      text-align: center;
      text-decoration: none;
  }
  
  .navbar__contaniar-menu-item{
      line-height: 30px;
      margin-right: 1.5rem;
      font-size: 1.6rem;
  }
  
  
  .navbar__contaniar-menu-item::after{
      content: " ";
      display: block;
      height: 3px;
      width: 0;
      background: transparent;
      transition: all 0.5s ease-in-out;}
  
      .navbar__contaniar-menu-item:hover::after{
  width: 100%;
  background: var(--yellow-theme-main-color);
      }
  
  
      .navbar__contaniar-menu-item-links{
          color: var(--yellow-theme-main-color)
          ;
          text-decoration: none;
          padding: 0.5rem;
      }
  
  
      @media (max-width:760px) {
          .navbar__contaniar-menu{
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 100%;
              border-top:1px solid rgb(255, 255, 255) ;
              position: absolute;
              top: 80px;
              left: -110%;
              opacity: 1; 
              transition: all 0.5s ease-in-out;
          
             &.active{
              background-color: black;
              left: 0px;
              opacity: 1;
  
               }
               .navbar__contaniar-menu-item{
                  border-bottom: 1px solid #282828;
                  margin: 0px;
                  padding: 20px;
  
               }
              }
  
          .nav-icon{
              display: block;
              cursor: pointer;
            color: var(--yellow-theme-main-color);
              padding-right: 40px;
              margin-right: 50px;
          }
      }
      .nav-icon{
        margin-right: -30px;
      }
      